<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="app.js"></script>
    <title>AngularJs</title>
</head>


<body ng-controller="controlador">
    
<h1>Contador: {{cont}}</h1>
<button ng-click="add()">Adicionar</button>
<button ng-click="sub()">Subtrair</button>
    
</body>
</html>