<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="lista-tarefas.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>AngularJs</title>
  </head>

  <body>
    <div class="max-auto jumbotron" style="width: 500px">
      <h2 class="font-weight-bold">Lista de Tarefas</h2>

      <div ng-controller="ListaTarefasController">
        <span>Restam 1 de 3</span>{{teste}} [
        <a href="" ng-click="alerta()">Arquivar</a> ]

        <ul class="unstyled">
          <li ng-repeat="todo in todoList.todos">
            <label class="checkbox">
              <input type="checkbox" ng-model="todo.done" />
              <span class="done-{{todo.done}}">{{todo.text}}</span>
            </label>
          </li>
        </ul>
        <form ng-submit="todoList.addTodo()">
          <input
            type="text"
            ng-model="todoList.todoText"
            size="30"
            placeholder="add new todo here"
          />
          <input class="btn-primary" type="submit" value="add" />
        </form>
      </div>
    </div>
  </body>
</html>
